<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Trying my best</title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script>


        function selectAll(source) {
            let checkboxes = document.getElementsByClassName('box');
            for(let i=0, n=checkboxes.length; i<n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }


        valueChange = function(item){
            var id = item.value;
            var text = item.name;
            var active = item.checked;


           const data={id, text, active}

            const options ={
                method: 'PUT',
                headers:{'Content-Type': 'application/json;charset=utf8'},
                body: JSON.stringify(data)
            }

            fetch('/api', options);

            //alert(id + text + active);
        }








    </script>
</head>
<body>

<form name="form1" method="post" action=" insert_data.php">
    Delivery Location
    <input onChange="valueChange(this)" type="checkbox" name="area" value="0">Inside city </input>
    <input onChange="valueChange(this)" type="checkbox" name="area" value="80">Outside city </input>
</form>

<div id="master">
    <h1>TODO</h1>



    <form th:action="@{/create}" method="post">
        <input type="text" placeholder="Write a todo" name="t1">
        <button type="submit">Push me</button>
    </form>


    <ul>
        <!---Add select box, show all selectbox, and individual delete button-->
        <input type="checkbox" id="checkBoxAll" onClick="selectAll(this)"/>
        <th:block th:each="todo : ${todos}">
            <div>


              <input class="box" type="checkbox" onChange="valueChange(this)" th:name="${todo.text}" th:value="${todo.id}" th:checked="${todo.active}"/>
              <label th:text="${todo.text}"></label>

                <form th:action="@{/deleteitem}" method="post">
                    <input type="hidden" name="id" th:value="${todo.id}" />
                    <button type="submit">Delete</button>
                </form>

            </div>
            <li id="hi" ></li>
        </th:block>
    </ul>

    <!---Show all button-->
    <form th:action="@{/all}" method="post">
        <button type="submit">Show all</button>
    </form>

    <!---Show Active button-->
    <form th:action="@{/active}" method="post">
        <button type="submit">Active</button>
    </form>

    <!--Show Completed button-->
    <form th:action="@{/showcompleted}" method="post">
        <button type="submit">Completed</button>
    </form>

    <!--Show Delete al completet button-->
    <form th:action="@{/deleteallcompleted}" method="post">
        <button type="submit">Delete all Completed</button>
    </form>

    <p th:text="${message}"></p>


</div>



</body>
</html>