<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Todo</title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script>

        function selectAll(source) {
            let checkboxes = document.getElementsByClassName('box');
            for(let i=0, n=checkboxes.length; i<n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }

        valueChange = function(item){
            var id = item.value;
            var text = item.name;
            var active = item.checked;

            const data={id, text, active}
            const options ={
                method: 'PUT',
                headers:{'Content-Type': 'application/json;charset=utf8'},
                body: JSON.stringify(data)
            }
            fetch('/api', options);
        }
    </script>
</head>
<body>


<div id="container">

    <div id="todoHeader">
        <h1>TODO</h1>
    </div>

    <form th:action="@{/create}" method="post">
        <div id="input">
            <input type="text" placeholder="Write a todo" name="t1">
        </div>
    </form>

    <th:block th:each="todo : ${todos}">
        <div id="loop">

            <div>
                <label class="checkbox">
                    <input class="box" type="checkbox" onChange="valueChange(this)" th:name="${todo.text}" th:value="${todo.id}" th:checked="${todo.active}"/>
                    <span th:text="${todo.text}">Text</span>
                </label>
            </div>

            <div>
                <form th:action="@{/deleteitem}" method="post">
                    <input type="hidden" name="id" th:value="${todo.id}" />
                    <button id="deleteButton" type="submit">Delete</button>
                </form>
            </div>

        </div>
    </th:block>

    <div id="bottomButtons">

        <!---Show all button-->
        <form th:action="@{/all}" method="post">
            <button type="submit">Show all</button>
        </form>

        <!---Show Active button-->
        <form th:action="@{/active}" method="post">
            <button type="submit">Active</button>
        </form>

        <!--Show Completed button-->
        <form th:action="@{/showcompleted}" method="post">
            <button type="submit">Completed</button>
        </form>

        <!--Show Delete al completet button-->
        <form th:action="@{/deleteallcompleted}" method="post">
            <button type="submit">Clear Completed</button>
        </form>
    </div>

    <div id="names">
        <p>Created by <br><br>
            Sandra d'Aubign´e and Nala El Rayes</p>
    </div>

</div>

</body>
</html>