<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Trying my best</title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script>

        var todos = "[[${todos}]]";
        
        console.log(todo);

        function selectAll(source) {
            let checkboxes = document.getElementsByClassName('box');
            for(let i=0, n=checkboxes.length; i<n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }

        function myFunction() {
            // Get the checkbox
            var checkBox = document.getElementById("myCheck");
            // Get the output text
            var text = document.getElementById("text");

            // If the checkbox is checked, display the output text
            if (checkBox.checked == true){
                const items ="Checked"
                document.getElementById("see").innerHTML = items;
            } else {
                const items ="Not Checked"
                document.getElementById("see").innerHTML = items;
            }
        }
    </script>
</head>
<body>

<div id="master">
    <h1>TODO</h1>

    <p id="see"></p>


    Checkbox: <input type="checkbox" id="myCheck" onclick="myFunction()">

    <p id="text" style="display:none">Checkbox is CHECKED!</p>

    <form th:action="@{/}" method="post">
        <input type="text" placeholder="Write a todo" name="t1">
        <button type="submit">Push me</button>
    </form>


    <ul>
        <!---Add select box, show all selectbox, and individual delete button-->
        <input type="checkbox" id="checkBoxAll" onClick="selectAll(this)"/>
        <th:block th:each="todo : ${todos}">
            <div>


                <input type="checkbox" class="box" name="active" th:checked="${todo.active}"/>
                <label th:text="${todo.text}"></label>

                <form th:action="@{/deleteitem}" method="post">
                    <input type="hidden" name="id" th:value="${todo.id}" />
                    <button type="submit">Delete</button>
                </form>

            </div>
            <li id="hi" ></li>
        </th:block>
    </ul>

    <!---Show all button-->
    <form th:action="@{/all}" method="post">
        <button type="submit">Show all</button>
    </form>

    <!---Show Active button-->
    <form th:action="@{/active}" method="post">
        <button type="submit">Active</button>
    </form>

    <!--Show Completed button-->
    <form th:action="@{/showcompleted}" method="post">
        <button type="submit">Completed</button>
    </form>

    <!--Show Delete al completet button-->
    <form th:action="@{/deleteallcompleted}" method="post">
        <button type="submit">Delete all Completed</button>
    </form>

    <p th:text="${message}"></p>


</div>



</body>
</html>